In [8]:
import pandas as pd
import numpy as np
import requests

In [ ]:
"""
data sources


ACS
    * have API code setup for this, also have some understanding of variables
    
CPS

iPUMs


BLS?



"""

In [54]:
# CSP ASEC

# example query

# api.census.gov/data/timeseries/poverty/histpov2?get=PCTPOV&time=2018&RACE=1

# Cant get multiple years
# one year at a time

# RACE codes 1-12
# All Races
# White Alone
# White
# White Alone, Not Hispanic
# White, Not Hispanic
# Black Alone or in Combination
# Black Alone
# Black
# Asian Alone or in Combination
# Asian Alone
# Asian and Pacific Islander
# Hispanic (of any race)

# GET variables - comma sep
# PCTFAMPOV	People in Families!!All Families!!Below Poverty Level!!Percent	
# PCTFEMHHPOV	People in Families!!Female HH no HB!!Below Poverty Level!!Percent		
# PCTPOV	All People!!Below Poverty Level!!Percent	
# PCTUNRELPOV	People in Families!!Unrelated Individuals!!Below Poverty Level!!Percent	
# POP	All People!!Total NOTE: Numbers in thousands. People as of March of the following year		
# POV	All People!!Below Poverty Level!!Number NOTE: Numbers in thousands. People as of March of the following year
# UNREL	People in Families!!Unrelated Individuals!!Total NOTE: Numbers in thousands. People as of March of the following year		
# UNRELPOV	People in Families!!Unrelated Individuals!!Below Poverty Level!!Number NOTE: Numbers in thousands. People as of March of the following year

url = "https://api.census.gov/data/timeseries/poverty/histpov2?get=PCTPOV,POV&time=2019"

response = requests.get(url)
# data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])

In [55]:
response.json()

[['PCTPOV', 'POV', 'time'], ['10.5', '33984', '2019']]

In [ ]:
#  Small Area Income and Poverty Estimates (SAIPE) 
# looks like it ended in 2016? maybe?

In [57]:
# BLS
import json
# url = "https://api.bls.gov/publicAPI/v2/timeseries/data/LAUCN040010000000005/latest=true"

# response = requests.get(url)
# response

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [58]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 215,
 'message': [],
 'Results': {'series': [{'seriesID': 'CUUR0000SA0',
    'data': [{'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '234.812',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '236.151',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '237.433',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '238.031',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '237.852',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '238.250',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '238.343',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '237.900',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '237.072',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '236.293',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '234.781',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '233.916',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M12',
      'periodName': 'December',
      'value': '233.049',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M11',
      'periodName': 'November',
      'value': '233.069',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M10',
      'periodName': 'October',
      'value': '233.546',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M09',
      'periodName': 'September',
      'value': '234.149',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M08',
      'periodName': 'August',
      'value': '233.877',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M07',
      'periodName': 'July',
      'value': '233.596',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M06',
      'periodName': 'June',
      'value': '233.504',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M05',
      'periodName': 'May',
      'value': '232.945',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M04',
      'periodName': 'April',
      'value': '232.531',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M03',
      'periodName': 'March',
      'value': '232.773',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M02',
      'periodName': 'February',
      'value': '232.166',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M01',
      'periodName': 'January',
      'value': '230.280',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M12',
      'periodName': 'December',
      'value': '229.601',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M11',
      'periodName': 'November',
      'value': '230.221',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M10',
      'periodName': 'October',
      'value': '231.317',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M09',
      'periodName': 'September',
      'value': '231.407',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M08',
      'periodName': 'August',
      'value': '230.379',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M07',
      'periodName': 'July',
      'value': '229.104',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M06',
      'periodName': 'June',
      'value': '229.478',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M05',
      'periodName': 'May',
      'value': '229.815',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M04',
      'periodName': 'April',
      'value': '230.085',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M03',
      'periodName': 'March',
      'value': '229.392',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M02',
      'periodName': 'February',
      'value': '227.663',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M01',
      'periodName': 'January',
      'value': '226.665',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M12',
      'periodName': 'December',
      'value': '225.672',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M11',
      'periodName': 'November',
      'value': '226.230',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M10',
      'periodName': 'October',
      'value': '226.421',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M09',
      'periodName': 'September',
      'value': '226.889',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M08',
      'periodName': 'August',
      'value': '226.545',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M07',
      'periodName': 'July',
      'value': '225.922',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M06',
      'periodName': 'June',
      'value': '225.722',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M05',
      'periodName': 'May',
      'value': '225.964',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M04',
      'periodName': 'April',
      'value': '224.906',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M03',
      'periodName': 'March',
      'value': '223.467',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M02',
      'periodName': 'February',
      'value': '221.309',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M01',
      'periodName': 'January',
      'value': '220.223',
      'footnotes': [{}]}]},
   {'seriesID': 'SUUR0000SA0',
    'data': [{'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '134.207',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '135.107',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '135.891',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '136.211',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '136.127',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '136.392',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '136.433',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '136.216',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '135.771',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '135.375',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '134.542',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '134.017',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M12',
      'periodName': 'December',
      'value': '133.509',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M11',
      'periodName': 'November',
      'value': '133.596',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M10',
      'periodName': 'October',
      'value': '133.876',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M09',
      'periodName': 'September',
      'value': '134.255',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M08',
      'periodName': 'August',
      'value': '134.098',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M07',
      'periodName': 'July',
      'value': '133.919',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M06',
      'periodName': 'June',
      'value': '133.900',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M05',
      'periodName': 'May',
      'value': '133.626',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M04',
      'periodName': 'April',
      'value': '133.421',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M03',
      'periodName': 'March',
      'value': '133.558',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M02',
      'periodName': 'February',
      'value': '133.204',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M01',
      'periodName': 'January',
      'value': '132.137',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M12',
      'periodName': 'December',
      'value': '131.770',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M11',
      'periodName': 'November',
      'value': '132.208',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M10',
      'periodName': 'October',
      'value': '132.892',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M09',
      'periodName': 'September',
      'value': '132.988',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M08',
      'periodName': 'August',
      'value': '132.430',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M07',
      'periodName': 'July',
      'value': '131.731',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M06',
      'periodName': 'June',
      'value': '131.956',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M05',
      'periodName': 'May',
      'value': '132.154',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M04',
      'periodName': 'April',
      'value': '132.284',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M03',
      'periodName': 'March',
      'value': '131.905',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M02',
      'periodName': 'February',
      'value': '130.953',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M01',
      'periodName': 'January',
      'value': '130.438',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M12',
      'periodName': 'December',
      'value': '129.844',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M11',
      'periodName': 'November',
      'value': '130.196',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M10',
      'periodName': 'October',
      'value': '130.373',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M09',
      'periodName': 'September',
      'value': '130.635',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M08',
      'periodName': 'August',
      'value': '130.351',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M07',
      'periodName': 'July',
      'value': '129.983',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M06',
      'periodName': 'June',
      'value': '129.846',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M05',
      'periodName': 'May',
      'value': '129.999',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M04',
      'periodName': 'April',
      'value': '129.483',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M03',
      'periodName': 'March',
      'value': '128.585',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M02',
      'periodName': 'February',
      'value': '127.363',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M01',
      'periodName': 'January',
      'value': '126.778',
      'footnotes': [{}]}]}]}}

In [ ]:
## Pull ACS Data

In [1]:

import getpass
from urllib.parse import quote_plus
# going to use postgres not mysql
# import mysql.connector

# from mysql.connector import errorcode

from __future__ import print_function
from datetime import date, datetime, timedelta

In [2]:
def get_data(year, dsource, dname, cols, state, county, tract, rename):

    year = year
    dsource = dsource
    dname = dname
    cols = cols
    state = state
    county = county
    tract = tract

    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

    data_url = f'{base_url}?get={cols}&for=tract:{tract}&in=state:{state}&in=county:{county}'

    response = requests.get(data_url)
    data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
    
    data['GEOID'] = data['state'] + data['county'] + data['tract']
    data = data.drop(columns =['NAME','state','county','tract'])
    data = data.set_index('GEOID')
        
    data.columns = rename
    data = data.astype(int)
    data = data.sort_index()
    
    return data

In [5]:
data = get_data(
    year = 2019,
    dsource = 'acs',
    dname = 'acs5',
    cols = 'NAME,' + vars_struct['Total Population'],
    state = 18,
    county = '*',
    tract = '*',
    rename = ['Total Population']
)

In [6]:
data = data.reset_index() # need to take this data & input it into a SQL

In [25]:
data

vars_struct['Economic']

{'Income Total Population': 'B17001_001E',
 'Income Below Poverty Line': 'B17001_002E',
 'Median Income': 'B19013_001E',
 'Education Attainment 18 to 64 Total': 'B23006_001E',
 'Education Attainment Less than Highschool': 'B23006_002E',
 'Education Attainment Highschool Graduate': 'B23006_009E',
 'Education Attainment Bachelors Degree or Higher': 'B23006_023E'}

In [56]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
# the user name is vinnie
# the word is the usual there

In [78]:
db_data = 'mysql+pymysql://vinnie:V1n_z3Ti@localhost/testdb'

engine = create_engine(db_data)

In [70]:
username = input("Username: ")
password = getpass.getpass(prompt="Pwd: ")
# Connect to the database

Username:  vinnie
Pwd:  ········

In [79]:
connection = pymysql.connect(host='localhost',
                         user=username,
                         password=password,
                         db='testdb')

In [80]:
# create cursor
cursor=connection.cursor()
# Execute the to_sql for writting DF into SQL
data.to_sql('pop2', engine, if_exists='append', index=False)

In [4]:


vars_struct = {
    'Total Population' : "B01003_001E",
    'Population - Race': {
        "White Population" : "B02001_002E",
        "Black Population" : 'B02001_003E',
        "Hispanic or Latino Population": "B03003_003E",
        "Arab Population": 'B04004_006E',
        "American Indiana & Alaska Native Population": 'B02001_004E',
        "Asian Population" : 'B02001_005E',
        "Hawaiian & Pacific Islander Population": "B02001_006E"
    },
    'Economic':{
        'Income Total Population': 'B17001_001E',
        'Income Below Poverty Line': 'B17001_002E',
        'Median Income': 'B19013_001E',
        'Education Attainment 18 to 64 Total': 'B23006_001E',
        'Education Attainment Less than Highschool':'B23006_002E',
        'Education Attainment Highschool Graduate': 'B23006_009E',
        'Education Attainment Bachelors Degree or Higher': 'B23006_023E',
    },
    'Population - Sex': {
        'Male Population' : 'B01001_002E',
        "Female Population" : 'B01001_026E'
    },
    'Population - Age' : {
        'Male': {
            '0-5':'B01001_003E',
            '5-9':'B01001_004E',
            '10-14':'B01001_005E',
            '15-17':'B01001_006E',
            '18-19':'B01001_007E',
            '20':'B01001_008E',
            '21':'B01001_009E',
            '22-24':'B01001_010E',
            '25-29':'B01001_011E',
            '30-34':'B01001_012E',
            '35-39':'B01001_013E',
            '40-44':'B01001_014E',
            '45-49':'B01001_015E',
            '50-54':'B01001_016E',
            '55-59':'B01001_017E',
            '60-61':'B01001_018E',
            '62-64':'B01001_019E',
            '65-66':'B01001_020E',
            '67-69':'B01001_021E',
            '70-74':'B01001_022E',
            '75-79':'B01001_023E',
            '80-84':'B01001_024E',
            '85+': 'B01001_025E'

        },
        'Female': {
            '0-5':'B01001_027E',
            '5-9':'B01001_028E',
            '10-14':'B01001_029E',
            '15-17':'B01001_030E',
            '18-19':'B01001_031E',
            '20':'B01001_032E',
            '21':'B01001_033E',
            '22-24':'B01001_034E',
            '25-29':'B01001_035E',
            '30-34':'B01001_036E',
            '35-39':'B01001_037E',
            '40-44':'B01001_038E',
            '45-49':'B01001_039E',
            '50-54':'B01001_040E',
            '55-59':'B01001_041E',
            '60-61':'B01001_042E',
            '62-64':'B01001_043E',
            '65-66':'B01001_044E',
            '67-69':'B01001_045E',
            '70-74':'B01001_046E',
            '75-79':'B01001_047E',
            '80-84':'B01001_048E',
            '85+':'B01001_049E',
        }
    }
}